<h1> Welcome back to Second Helping! </h1>
<br>
<h4> Click the button below to approve <%= @claim.recipient.name%>'s claim on your donation of <%= @claim.donation.name %> </h4>
<br>
<%= form_tag(confirm_claim_path, method: "post") do %>
  <button> Approve </button>
<% end %>