* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.recipient-background-image {
	width: 100%;
	height: 100vh;
	position: absolute;
}

.backgroung-overlay {
	position: absolute;
	width:100%;
	height: 100vh;
	background-color: #094687;
	top: 0;
	right: 0;
	opacity: .7;

}
.recipient-header {
	width: 100%;
	height: 15%;
	background-color: #5b5b5b;
	position: relative;
	top: 50px;
	margin-bottom: 5%;
}

.welcome {
	position: absolute;
	top: 1%;
	right: 1%;
	font-family: Verdana;
	color: red;
	font-size: 15px;
}

.recipient-headline {
	display: inline-block;
	font-family: Verdana;
	font-size: 35px;
	text-align: center;
	width: 40%;
	color: white;
	margin-left: 30%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.logo-image {
	display: inline-block;
	position: absolute;
}

.donation-block {
	position: relative;
	display: inline-block;
	width: 20%;
	height: 20%;
	background-color: white;
	padding: 3%;
	margin: 3%;
	font-family: Verdana;
	font-size: 14px;
	line-height: 1.5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
}

.description {
	position: relative;
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
}

.requirements {
	position: relative;
	display: block;
}

.donation-id {
	display: none;
}

.details {
	position: relative;
	width: 50%;
	height: 15%;
	border-radius: 0px;
	margin-left: 24%;
	margin-top: 10%;
	font-size: 15px;
	padding: 5px;
}

.pending {
	display: none;
}

.claimed {
	display: none;
}

.active-item {
	position: absolute;
	z-index: 1;
	width: 100%;
	margin: auto;	
	top: 0;
	left: 0;
}

.individual-background-image {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 2;
}

.individual-background-overlay {
	position: absolute;
	width:100%;
	height: 100vh;
	z-index: 3;
	background-color: #094687;
	top: 0;
	right: 0;
	opacity: .7;
}

.individual-logo {
	position: absolute;
	display: inline-block;
	top: 40%;
	left: 20%;
	z-index: 4;
	width: 10%;
	height: 50vh;
}
.active-logo-image {
	position: relative;
	width: 100%;
}

.individual-donation {
	position: relative;
	display: inline-block;
	z-index: 5;
	background-color: white;
	width: 30%;
	height: 40vh;
	font-family: Verdana;
	font-size: 18px;
	margin-left: 35%;
	margin-top: 30vh;
}

.claim-donation {
	position: absolute;
	left: 26%;
	bottom: 14%;
	width: 37%;
	border-radius: 0px;
}

.individual-description {
	position: absolute;
	text-align: center;
	top: 5%;
	left: 31%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
}

.individual-requirements {
	position: absolute;
	text-align: center;
	top: 30%;
	left: 35%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
}

.individual-donation-id {
	display: none;
}

.individual-donor {
	position: absolute;
	text-align: center;
	top: 45%;
	left: 31%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
}
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.donor-background-image {
	width: 100%;
	height: 100vh;
	position: absolute;
}

.background-overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #094687;
	top: 0;
	right: 0;
	opacity: .7;
}

.donor-header {
	width: 100%;
	height: 15%;
	background-color: #5b5b5b;
	position: relative;
	top: 50px;
	margin-bottom: 5%;
}

.welcome {
	position: absolute;
	top: 1%;
	right: 1%;
	font-family: Verdana;
	color: red;
	font-size: 15px;
}

.donor-headline {
	display: inline-block;
	font-family: Verdana;
	font-size: 35px;
	text-align: center;
	width: 40%;
	color: white;
	margin-left: 30%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.logo-image {
	display: inline-block;
	position: absolute;
}

.donate {
	width: 65%;
	height: 80%;
	display: inline-block;
	position: relative;
	margin-left: 10%;
	font-family: Verdana;
	font-size: 12px;
}

.donor {
	
	display: inline-block;
}

.donor-organization {
	padding: 5% 15%;
}

.donation {
	width: 100%;
}

.donor-donation {
	position: relative;
	display: inline-block;
	width: 35%;
	height: 25px;
	color: #CCCCCC;
	font-family: Verdana;
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5%;
	padding-right: 5px;
}

.donation-description {
	position: relative;
	display: inline-block;
	width: 60%%;
	height: 50px;
	color: #CCCCCC;
	font-family: Verdana;
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5%;
	padding-right: 5px;
}

.recipients-requirements {
	position: relative;
	display: inline-block;
	width: 60%;
	height: 100px;
	color: #CCCCCC;
	font-family: Verdana;
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5%;
	padding-right: 5px;
}

.fourth-label {
	display: inline-block;
	font-family: Verdana;
	color: white;
	vertical-align: top;
}

.recipients-expiration {
	position: relative;
	display: inline-block;
	width: 22%;
	height: 25px;
	color: #CCCCCC;
	font-family: Verdana;
	padding-left: 5px;
	padding-right: 2px;
	font-size: 16px;
	font-weight: bold;
}

.fifth-input {
	width: 60%;
	margin-top:3%;
}

.auto-confirm {
	display: inline-block;
	position: relative;
}

.fifth-label {
	display: inline-block;
	position: relative;
	font-family: Verdana;
	color: white;
	vertical-align: top;
}

.submit-donation {
	position: relative;
	display: inline-block;
	float: right;
	margin-right: 0;
	margin-top: 1%;
	width: 25%;
	font-size: 18px;
	padding: 8px;
}

input[type="text"] {
    color: black;
}

input[type="date"] {
    color: black;
}

textarea[type="submit"] {
    color: black;
}

.pending-donations {
	position: relative;
	display: inline-block;
	width: 19%;
	height: 100%;
	vertical-align: top;
	background-color: white;
	padding: 5%;
	margin-right: 5%;
	line-height: 1.5;
}

.donations {
	position: relative;
	font-family: Verdana;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	padding-bottom: 5%;
}

.donors-donation-id {
	display: none;
}

.donors-description {

}

.donors-pending {

}

.edit-receiver {
	position: absolute;
	bottom: 5%;
	right: 6%;
	border-radius: 0px;
	width: 7%;
	height: 3%;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.background {
	width: 100%;
}

.sky {
	width: 100%;
	height: 100vh;
	position: absolute;
}

.header {
	width: 100%;
	height: 15%;
	background-color: #5b5b5b;
	position: absolute;
	top: 50px;
}

.logos {
	position: absolute;
	height: 130px;
	width: 50%;
	top: -15px;
}

.logo-image {
	position: absolute;
	height: 200px;
	top: -20px;
	left: 20px;
}

.logo-name {
	position: absolute;
	top: 6px;
	left: 170px;
	height: 110px;
}

.sign-in-container {
	width: 50%;
	position: absolute;
	display: inline-block;
	right: 0px;
}

.donor-sign-in {
	width: 40%;
	height: 100px;
	display: inline-block;
	position: relative;
}

.donor-sign-in-heading {
	font-family: Verdana;
	padding: 5px;
}

.inputs {
	font-family: Verdana;
	padding: 3px;
}

.new-user {
	font-family: Verdana;
	text-decoration: none;
	display: block;
	color: #FFFFFF;
	padding: 5px;
}

.recipient-sign-in {
	width: 40%;
	height: 100px;
	display: inline-block;
	position: relative;
}

.recipient-sign-in-heading {
	font-family: Verdana;
	padding: 5px;
}

.mission {
	position: absolute;
	width: 25%;
	top: 35%;
	left: 15%;
	font-family: Verdana;
	line-height: 1.5;
	color: #E0AB4E;
}

.bottom-image {
	position: absolute;
	bottom: 0px;
	height: 400px;
	width: 100%;
}

.bottom-left {
	position: absolute;
	bottom: 0px;
	height: 25%;
	right: 59%;
}

.bottom-center {
	position: absolute;
	bottom: 0px;
	height: 100%;
	right: 20%;
}

.good-samaritan-link {
	position: absolute;
	bottom: 0px;
	font-family: Verdana;
	text-decoration: none;
	display: block;
	color: #FFFFFF;
	padding: 10px;	
	right: 35%;
}

.bottom-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	right: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
	background-color: #094687;
}
.login-container {
	width: 30%;
	height: 25%;
	margin: 10% auto;
	padding: 3%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans serif;
	font-size: 14px;
	color: #333;
	background-color: #FFFFFF;
	border-radius: 5px;
	font-weight: bolder;
}

.log {
	text-align: center;
	padding-bottom: 15px;
	font-size: 30px;
}

.field input {
	width: 100%;
    color: #999;
    font-weight: bold;
    font-size: 15px;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #999;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #E0AB4E;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    margin: 8% 35%;
    color: #EEEEEE;
    font-size: 15px;
}

.notice {
	padding-left: 5px;
	color: red;
}

.alert {
	padding-left: 5px;
	color: red;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

