<!DOCTYPE html>
	<html ng-app="receivingApp">
		<head>
			<title>Second Helpings</title>
			<link href="donations.css" rel="stylesheet" />
		</head>
		<body>
			<img class="recipient-background-image" src="/images/farm2.jpeg" />
				<div class="background-overlay">
					<span class="welcome"> Welcome, <%=@recipient.name%>! You're signed in. </span>
				</div>
				<div class="recipient-header">
					<h1 class="recipient-headline">Available Donations</h1>
					<div>
						<img class="logo-image" src="images/paperbag.png" />
					</div>
				</div>
				<div class="available-donations" ng-controller="RecipientController">
					<%= token_tag %>
					<div class="donation-block" ng-repeat="item in data.donations">
						<span class="donation-id"> {{item.donation_id}} </span>
						<span class="description"> {{item.description}} </span>
						<span class="organization"> {{item.organization}} </span>
						<span class="requirements"> {{item.requirements}} </span>
						<div class="claim" ng-repeat="claim in item.claims">
							<span class="pending"> {{claim.claimant}} </span>
							<span class="claimed"> {{claim.approved}} </span>
						</div>
						<button class="details" href= "/recipients/donation/{{item.donation_id}}" ng-click="clickDetailsButton(item)">Details</button> 
					</div>

				<div class="active-item" ng-show="!!activeItem">
					<img class="individual-background-image" src="/images/farm3.jpeg" />
						<div class="individual-background-overlay">
						</div>
						<div class="individual-logo">
							<img class="active-logo-image" src="images/paperbag.png" />
						</div>
						<div class="individual-donation">
							<span class="individual-donation-id"> {{activeItem.donation_id}} </span>
							<span class="individual-description"> {{activeItem.description}} </span>
							<span class="individual-requirements"> {{activeItem.requirements}} </span>
							<button class="claim-donation" ng-click="clickClaim()">Claim this donation</button>
						</div>
				</div>
				</div>
			<!--  
				<div class="individual-donation" ng-controller="IndividualDonationController">
					<%= token_tag %>
					
				</div> -->
				<button class="edit-receiver" href="/recipients/edit">Edit your details</button>
			</div>
		</body>
	</html>