<div class="background">
	<img class="sky" src="images/sky.jpeg" />
	<div class="header">
		<div class="logos">
			<div>
				<img class="logo-image" src="images/paperbag.png" />
			</div>
			<div>
				<img class="logo-name" src="images/logo.png" />
			</div>
		</div>
		<div class="sign-in-container">
			<form class="donor-sign-in">
				<h5 class="donor-sign-in-heading">Donor sign in</h5>
				<input type="email" id="donorID" class="inputs" placeholder="Donor email" required>
				<input type="password" id="donorPassword" class="inputs" placeholder="Password" required>
				<a href="/donors/sign_up" class="new-user">New donor?</a>
			</form>
			<form class="recipient-sign-in">
				<h5 class="recipient-sign-in-heading">Recipient sign in</h5>
				<input type="email" id="recipientID" class="inputs" placeholder="Recipient email" required>
				<input type="password" id="recipientPassword" class="inputs" placeholder="Password" required>
				<a href="/recipients/sign_up" class="new-user">New recipient?</a>
			</form>
		</div>
	</div>
	<div class="mission">
		<p class="statement">Slow-carb Austin meditation, tote bag raw denim keytar polaroid bitters selvage put a bird on it fingerstache seitan jean shorts mumblecore drinking vinegar. Stumptown authentic Austin fingerstache, freegan roof party next level. High Life narwhal whatever, Williamsburg freegan Marfa Blue Bottle banh mi McSweeney's. Blue Bottle McSweeney's.</p>
	</div>
	<div class="bottom-image">
		<div>
			<img class="bottom-left" src="images/bottom-left.png" />
		</div>
		<div>
			<img class="bottom-center" src="images/bottom-center.png" />
			<a href="http://www.foodtodonate.com/Fdcmain/LegalLiabilities.aspx" class="good-samaritan-link">Good Samaritan Law</a>
		</div>
		<div>
			<img class="bottom-right" src="images/bottom-right.png" />
		</div>
	</div>
</div>