<div class="about-backgrounds">

<div class="page-container">
	<h1 class="about-header"> Second Helping </h1>

	<div class="josh">
		<h3 class="name-header"> Josh Carrico </h3> <br>
		<%= image_tag("josh.jpeg") %>
		<p> - St. Louis Cardinals fan</p>
		<p> - Prequel defender</p>
		<p> - Occasional kayaker</p>
	</div>

	<div class="mishka">
		<h3 class="name-header"> Mishka Mukherji </h3> <br>
		<%= image_tag("mishka.jpeg") %>	
		<p> - Rock climber </p>
		<p> - Noted rambler </p>
		<p> - Height-curious</p>
	</div>
	</div>
</div>