<div class="about-backgrounds">

	<div class="page-container">
		<h1 class="about-header"> Second Helping </h1>
		<!--<h3 class="name-header"> Sample Text Exchange </h3><br>-->

		<div class="donor">
			<h3 class="name-header"> Donor sees... </h3> <br>
			<%= image_tag("donor.png") %>
		</div>

		<div class="recipient">
			<h3 class="name-header"> Claimer sees... </h3> <br>
			<%= image_tag("recipient.png") %>	
		</div>
	</div>
</div>