<div class="about-backgrounds">


	<h1 class="about-header"> Technologies we used </h1>

	<div class="container">
	<div class="row">
		<div class="front-end">
			<h3 class="name-header"> Front End </h3> <br>
			<p> - Angular </p>
			<p> - Gimp </p>
			<p> - HTML5 </p>
			<p> - CSS3 </p>
			<p> - Sketch </p>
		</div>
	</div>

	<div class="row">
	<div class="back-end">
		<h3 class="name-header"> Back End </h3> <br>
		
		<p> - Devise </p>
		<p> - Twilio </p>
		<p> - RSpec </p>
		<p> - Redis </p>
		<p> - Sidekiq </p>
		<p> - Sidetiq </p>
	</div>
	</div>
	</div>
</div>