<div class="about-backgrounds">

	<h1 class="about-header"> Technologies we used </h1>

	<div class="front-end-tech">
		<h3 class="name-header"> Front End </h3> <br>
		<img src="../assets/josh.jpeg" alt="josh headshot">
	
		<p> - St. Louis Cardinals fan</p>
		<p> - Prequel defender</p>
		<p> - Occasional kayaker</p>
	</div>

	<div class="back-end-tech">
		<h3 class="name-header"> Back End </h3> <br>
		<img src="../assets/mishka.jpeg" alt="mishka headshot">
		
		<p> - Rock climber </p>
		<p> - Noted rambler </p>
		<p> - Height-curious</p>
	</div>
</div>